.grey {
    background: grey;
}
.grey-lighten-1 {
    background: #8B8B8B;
}
.grey-lighten-2 {
    background: #979797;
}
.grey-lighten-3 {
    background: #A2A2A2;
}
.grey-lighten-4 {
    background: #AEAEAE;
}
.grey-lighten-5 {
    background: #B9B9B9;
}
.grey-darken-1 {
    background: #757575;
}
.grey-darken-2 {
   background: #696969;
}
.grey-darken-3 {
    background: #5E5E5E;
}
.grey-darken-4 {
    background: #525252;
}
.grey-darken-5 {
    background: #464646;
}
.orange {
    background: #FFA500;
}
.orange-lighten-1 {
    background: #FFAD17;
}
.orange-lighten-2 {
    background: #FFB52E;
}
.orange-lighten-3 {
    background: #FFBD45;
}
.orange-lighten-4 {
    background: #FFC55C;
}
.orange-lighten-5 {
    background: #FFCD73;
}
.orange-darken-1 {
    background: #E89600;
}
.orange-darken-2 {
    background: #D18800;
}
.orange-darken-3 {
    background: #BA7900;
}
.orange-darken-4 {
    background: #A36A00;
}
.orange-darken-5 {
    background: #8C5A00;
}
.rose {
    background: #FF007F;
}
.rose-lighten-1 {
    background:#FF178A;
}
.rose-lighten-2 {
    background:#FF2E96;
}
.rose-lighten-3 {
    background:#FF45A1;
}
.rose-lighten-4 {
    background:#FF5CAD;
}
.rose-lighten-5 {
    background:#FF73B9;
}
.rose-darken-1 {
    background: #E80074;
}
.rose-darken-2 {
    background: #D10068;
}
.rose-darken-3 {
    background: #BA005D;
}
.rose-darken-4 {
    background: #A30051;
}
.rose-darken-5 {
    background: #8C0046;
}
.white {
    background: #ffffff;
}
.black {
    background: #000000;
}
.green {
    background: #008B00;
}
.green-lighten-1 {
    background: #179517;
}
.green-lighten-2 {
    background: #2EA02E;
}
.green-lighten-3 {
    background: #45AA45;
}
.green-lighten-4 {
    background: #5CB55C;
}
.green-lighten-5 {
    background: #73BF73;
}
.green-darken-1 {
    background: #007F00;
}
.green-darken-2 {
    background: #007200;
}
.green-darken-3 {
    background: #006600;
}
.green-darken-4 {
    background: #005900;
}
.green-darken-5 {
    background: #004C00;
}
















































